doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        title resessh portfolio
        link(rel="stylesheet" type="text/css" href="/assets/styles/index.css")
        link(rel="icon", type="image/png", href="/assets/img/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/assets/img/favicon-16x16.png", sizes="16x16")
    body
        #container
            header
                h1: a(href="/")

            footer
                ul
                    li: a(href="https://github.com/resessh") Github
                    li: a(href="https://twitter.com/resessh7") Twitter
                    li: a(href="https://resessh-temp.tumblr.com/") Tumblr
                    li: a(href="mailto:info@resessh.net") Mail
                    li COPYRIGHT &copy; 2017 Xuesu Li, ALL RIGHTS RESERVED.

        script(src="/assets/scripts/index.js")